@import '../../styles/variables.css';

.overlayWrapper {
  align-items: center;
  background-color: rgb(59, 65, 99);
  background-color: rgba(59, 65, 99, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

h1 {
  color: var(--letterColor);
  font-size: 46px;
  margin-bottom: 16px;
}

button {
  background-color: transparent;
  border: 2px dashed var(--overlayButtonColor);
  border-radius: 30px;
  color: var(--overlayButtonColor);
  font-size: 16px;
  font-weight: 700;
  padding: 16px 42px;
  text-decoration: none;
}

button:hover {
  background-color: var(--pageBgColor);
  cursor: pointer;
}
